<!DOCTYPE HTML>
<html>
  <head>
    <title>blog.monofone.de|Error</title>
    <link rel="stylesheet" href="{{asset('css/reset.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{asset('css/main.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{asset('css/blog.css') }}" type="text/css" />
  </head>
  <body class="error">
    <div id="error-img"><img src="{{ asset('img/404.png') }}" alt="error" /></div>
  </body>
</html>