<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico" />

    <title>{% block title %}blog.monofone.de{% endblock %}</title>
    {% block headassets %}{% endblock %}
    <!--
    Deutsch:
    Vielen Dank für den Blick in den Quellcode, die Seite läuft auf einer
    kleinen Application die mit Silex (silex-project.org) umgesetzt wurde.
    Als Templatesprache kommt Twig zum Einsatz, die Effekte wurden versucht alle
    mittels CSS 3 umzusetzen, deswegen ist ein aktueller Browser die
    Vorraussetzung für ein schönes Erscheinungsbild.
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    English
    Thank you for checking the source code, the site is build using
    silex(silex-project.org). For templating Twig is used and all effects are
    made with CSS 3, so for a complete enjoyment you need a modern browser.
    -->

    <!-- Bootstrap core CSS -->
    {% stylesheets '@BlageBlogBundle/Resources/less/bootstrap.less' filter="lessphp,yui_css" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="/">blog</a>
            <a class="blog-nav-item" href="http://www.monofone.de/page/vita">vita</a>
            <a class="blog-nav-item" href="http://www.monofone.de/page/knowledge">knowledge</a>
            <a class="blog-nav-item" href="http://www.monofone.de/page/spare-time">spare time</a>
        </nav>
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">monofone</h1>
        <p class="lead blog-description">coding.</p>
    </div>

    <div class="row">

        {% block content %}{% endblock %}

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>coding.</p>
            </div>
            <div class="sidebar-module">
                {{ render(controller('BlageBlogBundle:Default:recentArticles', {
                'max': 3
                })) }}

            </div>
            <div class="sidebar-module">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="https://github.com/monofone">GitHub</a></li>
                    <li><a href="https:/twitter.com/monofone">Twitter</a></li>
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->

<div class="blog-footer">
    <p>&copy; 2014 Sören Rohweder</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
</body>
</html>
