{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} | {{article.title}} {% endblock %}

{% block content %}
<div class="col-sm-8 blog-main">
    <div id="left_box">
        {% block left %}

        {% endblock %}
    </div>
    {% include "BlageBlogBundle:Default:article_entry.html.twig" %}

    <!--
    <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
    </ul>-->
</div><!-- /.blog-main -->
{% endblock %}


