{% extends '::base.html.twig' %}

{% block content %}
<section>
{% for article in articles %}
  {% include "BlageBlogBundle:Default:article_entry.html.twig" %}
{% endfor %}
</section>
<script type="text/javascript">
  SyntaxHighlighter.defaults['toolbar'] = false;
  SyntaxHighlighter.all()
</script>  
{% endblock %}
  

