{% extends '::base.html.twig' %}

{% block content %}
<div class="col-sm-8 blog-main">
    <div id="left_box">
        {% block left %}

        {% endblock %}
    </div>
    <div id="content_box">
        {% for article in articles %}
            {% include "BlageBlogBundle:Default:article_entry.html.twig" %}
        {% endfor %}
    </div>

</div><!-- /.blog-main -->
{% endblock %}